header {
  background: #ff4500;
}

.one  {
  background: #ffa500;
}

.two {
  background: #ffff00;
}

.three {
  background: #adff2f;
}

.four {
  background: #32cd32;
}

.five {
  background: #3cb371;
}

